%h4 Current Folder: #{@folder.name}

%h5 Add Item Below
= form_for @item, url: {action: "create_item"}, html: {class: "form"} do |f|
  = f.text_field :name
  = f.submit "Submit", class: "btn btn-primary"
  %br

- @folder.items.each do |item|
  =link_to item.name, item
  %br
